---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/sheet_id/values/tab_name
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Method doesn't allow unregistered callers (callers without established identity). Please use API Key or other form of API consumer identity to call this API.",
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Sun, 20 Oct 2024 19:07:02 GMT
recorded_with: VCR 6.3.1
